@import "../../index";

.Container{
  margin-top: 8rem;
  height: 100vh;
  background-color: $color1;
  @media screen and (min-width:48vw) {
    background: none;
  }
}

.Card-Container{
  padding: 3rem;

}

.Card-Container img{
  border-radius: 10px;
  box-shadow: 0 0 20px blueviolet, 0 0 100px red, 0 0 200px rgb(255, 0, 212);
}


/* -------------------------------------------------------------------------- */
.Ccategory{
  margin-top: 2rem;
  margin-bottom:1rem ;
}

.Cp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.CCTagline, .CTagline{
  font-size: large;
  font-weight: bolder;
  color: rgb(52, 43, 226);
  text-shadow: 0px 2px 4px black;
  cursor: pointer;
  margin-left: 1rem;
  width: fit-content;
}

.CCTagline{
  font-size: large;
  text-shadow: 0px 2px 3px black;
  text-decoration: underline;
  margin-bottom: .5rem;
}
.Csotmuc{
  font-size: normal;
  font-weight: bolder;
  color: blue;
  cursor: pointer;
}

.Csotmuc:hover{
  font-size: x-large;
  color: #8400ff;
}

.Cmusic, .Ccomedy, .Cleadership{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}