.StudentCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  @media screen and (min-width: 48rem ) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38rem;
    padding: 0 2rem;
    background-color: #e8d0b1;
    border-right: 1px solid gray;
 }




  .new_game{
    margin: .2rem 0 2rem 0;
    text-align: center;
    .game_name{
      font-size: x-large;
      font-weight: bolder;
      font-family: serif;
    }
    p, button{
      padding: 0;
      margin: 0;
    }
   
    
    .player_hints{
      cursor: pointer;
      color: #31316f;
      background: none;
      font-weight: bolder;
      cursor: pointer;
    }
    h4{
        background-color: rgb(228, 17, 13);
        border-radius: 5px;
        margin: 0;
        padding: .2rem 0;
        margin:2rem;
        cursor: pointer;
        color: white;
        font-weight: bolder;
    }
  }


  .top_player{
    margin-top:2rem ;
     width: 90%;
     font-size:small;
   }

 .new_game_button{
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      background: none;
      p{
        cursor: pointer;
        background-color: white;
        padding: .2rem .5rem;
        border-radius: 8px;
        font-size: smaller;
        &:hover{
          background-color: wheat;
          opacity: .7;
        }
      }
    }

 .card_grid{
   display: grid;
   width: 80vw;
   margin: 3rem 0 2rem 0;
   grid-template-columns: 1fr 1fr 1fr 1fr;

 }
}

.card{
display: flex;
justify-content: center;
align-items: center;
width: fit-content;
   .front, .front_{
     width: 4rem;
     height: 4rem;
     background-color: #fe9000;
     border: 2px solid burlywood;
     display: flex;
     justify-content: center;
     align-items: center;
    //  border-radius: 3px;
     font-size: xx-large;
     transform: rotateY(90deg);
     transition: all ease-in-out .2s;
     position: absolute;
   }
   .back{
     transition: all ease-in-out .2s;
     width: 4rem;
     height: 4rem;
     border: 2px solid burlywood;
     border-radius: 3px;
     background-color: black;
     color: black;
     transition-delay: .1s;
   }
   .flipped {
     .front{
       transform: rotateY(0deg);
       transition-delay: .1s;
     }
     .back{
       transform: rotateY(-90deg);
       transition-delay: 0s;
     }
   }
}

/* -------------------------------------------------------------------------- */
.signin{
  z-index: 20;
  color: red;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  @media screen and (min-width: 48rem ) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38rem;
    padding: 0 2rem;
    background-color: #e8d0b1;
    border-right: 1px solid gray;
 }
}

.signup_wrapper{
  margin-top: -10rem;
  text-align: center;
  h2{
    padding: 1rem;
  }
  input{
    outline: none;
    padding: .2rem;
    background: none;
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: large;
    border: 1px solid gray;
    border-radius: 2px;
  }
  .signup_button{
    background-color: blueviolet;
    padding: .2rem .3rem;
    border-radius: 5px;
    width: 4rem;
    margin: .2rem auto ;
    cursor: pointer;
    color: white;
    font-weight: bolder;
  }
}


/* -------------------------------------------------------------------------- */
    .hints{
      margin: auto;
      word-wrap:normal;
      background-color: burlywood;
      z-index: 3;
      text-align: initial;
      padding: 1rem;
      z-index: 9;
      .close{
        color: blue;
        :hover{
          background-color: #171779b8;
        }
      }

    }
    .players{
      margin: 2rem auto 0 1rem;
      .player_header{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 90vw;
        border-bottom: 1px solid red;
        padding: 0;
        margin-bottom: .3rem;
        .close{
          color: blue;
          border-radius: 5px;
          :hover{
            background-color: #3c3cdeb8;
          }
        }
      }
    }