.ad_photos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  div{
    flex: 1;
    margin: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


/* -----------------------------AD--------------------------------------------- */

.Carousel{
margin-bottom: .5rem;
div{
  height: auto;
}
 .four{
   background-image: linear-gradient(black, blue);
   background-clip: text;
   color: transparent;
   width: inherit;
   padding: 0 .1rem;
   border: none;
   height: inherit;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: sans-serif;
   margin: auto;
   h2{
     text-shadow: 1px 0 4px black;
     color: blue;
   }
   p{
     color: red;
     font-weight: bolder;
     font-size: smaller;
     text-align: center;
   }
 }
}


.rec-carousel-wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid burlywood;
    border-radius: 20px 0px ;
    padding: .2rem 0;
    width: 100%;
}

sup{
 position: absolute;
 right: 0;
 top: 0;
}