.SignUp{
  padding-top: 7rem;
  position: absolute;
  width: 100%;
  height: calc(100% - 7rem);
  background-image: linear-gradient(to bottom left, #f8902e, #ebebeb);
  background-repeat: no-repeat;
  .Header{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    font-family: sans-serif;
    .ErrorMessage{
      color: red;
      margin-top: 1rem;
      font-weight: bolder;
      text-transform: capitalize;
    }
  }
/* -------------------------------------------------------------------------- */
  .Form{
    margin-top: 2rem;
    width: 88vw;
    display: flex;
    flex-direction: column;
    margin: 1rem auto 0 auto;
    div{
      display: flex;
      .Error{
      color: #ff0000;
      border-bottom: 2px solid #ff0000;
      }
      input{
      width: 99%;
      background: none;
      outline: none;
      border: none;
      border-bottom: 2px solid blue;
      margin: 1.5rem 0;
      font-size: larger;
      font-family: serif;
      }
      .passwordVisibility{
        position: absolute;
        right: 0;
        align-self: center;
        color: #007bff;
        font-size: bolder;
        margin: 0 0 .5rem 0;
      }
    }
/* --------------------------------------- */
    .SubmitButton{
      text-align: center;
      margin: auto;
      button{
        padding: .5rem 1.5rem;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: blueviolet;
        &:hover{
          background-color: rgb(139, 139, 255);
          color: white;
        }
      }
    }
  }
/* -------------------------------------------------------------------------- */
  p{
    width: fit-content;
    padding: 0 .5rem;
  }
}



/* -------------------------------------------------------------------------- */
.Loading{
  color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom left, #f8902e, #ebebeb);
}

.Nopins{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}