.Main{
z-index: -1;
height: 100vh;
/* background-color: lavenderblush; */

}

.Welcome{
  display: none;
}

.Pages{
  margin: 8rem 1rem 1rem 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 8rem;
  column-gap: .5rem;
  row-gap: .5rem;

}

.Portal, .Elearning, .Login, .Downloads, .About, .Council, .Library, .History, .Academics, .StudentCouncil, .Photos, .Direction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: burlywood;
  box-shadow: 2px -2px white;
}

button{
  width: 7rem;
  height: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
  border-radius: 2rem;
  background-color: blueviolet;
  color: white;
}


button:hover{
  width: 7.5rem;
  height: 2.5rem;
  color: #0011ff;
}

.E{
  background-image: linear-gradient(to left, blue, rgba(255, 0, 0, 0.802));
}

.P{
  background-image: linear-gradient(to right, blueviolet, rgba(255, 0, 0, 0.802));
}
.L{
  background-image: linear-gradient(to right, teal, rgba(255, 0, 0, 0.802));
}

.D{
  background-image: linear-gradient(to left, rgba(25, 230, 6, 0.857), rgba(33, 27, 27, 0.802));
}
.A{
  background-image: linear-gradient(to left, rgb(140, 140, 65), rgba(33, 27, 27, 0.802));
}

.C{
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(90, 16, 16, 0.802));
}

.LB{
  background-image: linear-gradient(to left, rgb(214, 18, 192), rgba(112, 51, 51, 0.802));
}
.H{
  background-image: linear-gradient(to left, rgb(0, 230, 230), rgba(3, 68, 70, 0.802));
}







/* -----------------------------------Sotmuc_news--------------------------------------- */
.Sotmuc_news{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news{
  margin: 1rem;
  padding: 1rem .5rem;
  margin-top: .5rem;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 3px 4px red;
}

.analyticBtn{
  margin:.7rem 0 0 auto;
  width: fit-content;
}
/* -------------------------------------------------------------------------- */




















@media only screen and (min-width: 48rem) {
  .Main{
    background:none;
  }
  .Welcome{
    display: block;
    margin-top: 10rem;
  }
.Welcome i{
  font-size: xx-large;
  font-weight: bolder;
  font-style: oblique;
}

.Pages{
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 6rem;
  column-gap: .5rem;
  row-gap: .5rem;

}

}

