.Wrapper{
    margin-top: 5.5rem;
    position: absolute;
    width: 100%;
    min-height: calc(100vh - 5.5rem);
   }


.CreatePostWrapper{
  min-height:calc(100vh - 5rem);
  margin-top: 5rem;
  position: relative;
  display: flex;
  background-image: linear-gradient(to bottom left, #f8902e, #ebebeb);
  div{
    // background-color: red;
    height: fit-content;
    margin:auto 0 0 0;
    width: 100vw;
  }
}

.NewsWrapper{
      margin-top:5.5rem;
      min-height: calc(100vh - 5.5rem);
      @media screen and (min-width: 48rem ) {
        margin-top: 7rem;
      }
  }


.News{
    display: flex;
    padding: 0 .5rem ;
    border-bottom: 1.5rem solid white;
    flex-direction: column;
    margin: 0 auto;
    width: 98vw;
    background-color: #e2e2e2;
    @media screen and (min-width: 48rem ) {
      width: 42rem;
    }
    .NewsHead{
      display: flex;
      flex-direction: row;
      .NewsAvatar{
        display: flex;
        flex-direction: row;
        margin-bottom: .5rem;
        .PublisherDetails{
          display: flex;
          flex-direction: column;
          margin: auto 0 0 0;
       }
      }
      .NewsPin{
        margin: -4px 0 auto auto;
        color: gray;
        transform:rotate(55deg)
      }

   }
   .NewsBody{
     word-wrap: break-word;
     writing-mode: horizontal-tb;
     white-space: pre-wrap;
     font-family: sans-serif;
     .NewsAuthor{
      //  font-size: large;
       text-transform: uppercase;
       font-weight: bolder;
       font-stretch: condensed;
       display: flex;
       align-items: center;
       margin-bottom: .5rem;
     }
     .NewsTitle{
       font-weight: bolder;
       margin:0  0 0 .2rem ;
     }
     .NewsBody{
       margin: .5rem .5rem 0 .5rem;
       padding-bottom: 1rem;
     }
   }
   .NewsActions{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     align-items: center;
     .PostActions{
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 1rem 0;
       &:hover{
         color: red;
       }
     }
     p{
       font-size: small;
       font-family: sans-serif;
       color: #212020;
     }
   }
 }











/* --------------------------Details post------------------------------------------------ */
.PostDetailsWrapper{
  padding: 0 .5rem;
  margin: auto;
  padding-top: 5.5rem;
  min-height: calc(100vh - 5.5rem);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom left, #f8902e, #ebebeb);
  @media screen and (min-width: 48rem ) {
    background: none;
    width: 40rem;
    border: 1px solid;
    border-bottom: none;
    min-height: calc(100vh - 7rem);
  }
   .DetailsNews{
      display: flex;
      padding: .5rem 0;
      border-radius: 2px;
      flex-direction: column;
      margin-top: 1rem;
      .DetailsHead{
         display: flex;
         flex-direction: row;
         margin-bottom: .5rem;
         .AuthorDetails{
          display: flex;
          flex-direction: column;
          margin: 0 0 0 1rem;
          p{
            color:#1c1c4b;
            margin: 0 0 0 1rem;
            font-family: sans-serif;
          }
        }
      }
    .DetailsNewsBody{
        word-wrap: break-word;
        writing-mode: horizontal-tb;
        white-space: pre-wrap;
        font-family: sans-serif;
        .NewsAuthor{
            font-size: large;
            text-transform: uppercase;
            font-weight: bolder;
            font-stretch: condensed;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
        .MessageMeta{
          display: flex;
          justify-content: space-between;
          p{
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .Message{
          padding: .5rem .05rem;
          border-radius: 5px;
        }
     }
 }
 .DetailsReply{
  margin-top: 2rem;
 }
}



/* ------------------------Reply-------------------------------------------------- */

.Reply{
  width: 100%;
  margin: auto;
  padding: 2rem 0;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  word-wrap: break-word;
  writing-mode: horizontal-tb;
  white-space: pre-wrap;
  font-family: sans-serif;
  i{
    float: right;
  }
}


.ReplayTextInput{
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin:1rem  auto;
  .Message{
      flex: auto;
      border: 1px solid wheat;
      background: none;
      border-radius: 5px;
      resize: none;
      outline: none;
      font-size: larger;
      font-family: sans-serif;
      padding: .5rem;
  }
  .SendButton{
    flex: .1;
    margin: auto  .5rem 0  .5rem;
  }
}




















/* -------------------------SkeletonPost------------------------------------------------- */
.SkeletonPost{
   display: flex;
   flex-direction: column;
   width: 90vw;
   border-radius: 5px;
   padding: 1rem;
   background-color: #c0c0c0;
   border-bottom: 5px solid white;
   border-top: 5px solid white;
   position: relative;
   margin: auto;
   &:hover{
     background-color: #979797;
   }
  .NetError{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    color: brown;
 }
   .SkeletonPostHeader{
     display: flex;
     margin-bottom: .5rem;
     .NewsPin{
        margin: -7px 0 auto auto;
        color: gray;
     }
     .skeletonPostDetails{
       flex: .9;
       div{
         width: 10rem;
         margin: .3rem 0;
         height: .3rem;
         background-color: #ededed;
       }
     }
   }
   .SkeletonPostBody{
     div{
       width: 100%;
       height: .5rem;
       border-radius: 4px;
       margin: .5rem 0;
       background-color: #ededed;
     }
   }
}



.Ad{
    font-size: xx-small;
    font-weight: 900;
    display: flex;
    padding: 0 .5rem ;
    border-radius: 7px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    flex-direction: column;
    margin: 0 auto 0 auto;
    width: 98vw;
    background-color: #ebebeb;
    &:hover{
     background-color: #d1d1d1;
    }
    .NewsHead{
      display: flex;
      flex-direction: row;
      .NewsPin{
        margin: 0px 0 auto auto;
        color: rgb(0, 0, 0);
      }

   }
   .NewsBody{
     word-wrap: break-word;
     writing-mode: horizontal-tb;
     white-space: pre-wrap;
     font-family: sans-serif;
     .NewsAuthor{
       font-size: medium;
      color: rgb(252, 0, 76);
       text-transform: uppercase;
       font-weight: bolder;
       font-stretch: condensed;
       display: flex;
       align-items: center;
     }
     .NewsTitle{
       font-weight: bolder;
       font-size: x-small;
       margin:0  ;
     }
     .NewsBody{
       margin: 0;
     }
   }
   .NewsActions{
     width: fit-content;
     display: flex;
     flex-direction: row;
     align-items: center;
     margin: 0 .3rem 0 auto;
     p{
       font-size: x-small;
       font-family: sans-serif;
       color: #212020;
     }
   }
 }












