

.news_feed{
    margin-top: 5rem;
}

.news_item{
    color: white;
    padding: 1.5rem 1rem;
    font-family: sans-serif;
    border: none;
    font-weight: bolder;
    border-bottom: 20px solid gray;
    border-bottom-style: groove;
}


.image{
    width: 100%;
    z-index: 0;
    margin-bottom: 1rem;
    position: "relative";
    border-radius: 5px;
}

.date{
    margin: .5rem 0;
    font-size: medium;
}

.action{
    display: flex;
    justify-content: space-between;
    width: 32%;
    margin-bottom: .5rem;
    font-size: large;
    div{
        margin: auto 0 0 0;
    }
    .avator{
        margin: auto 0 0 0;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        background-color: #4bb331;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.meta{
    float:right;
    margin: -1rem 0 0 0;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bolder;
}


.news-details{
    margin-top: 4.5rem;
    color: white;
    padding-top: 3rem;
    margin: 5rem auto 0 auto;
    width: 96vw;
}
