.new_game_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    p{
      background-color: white;
      padding: .2rem .5rem;
      border-radius: 8px;
      font-size: smaller;
      &:hover{
        background-color: wheat;
        opacity: .7;
      }
    }
  }

  .board{
    padding: 0;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .tile{
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #008000f0;
    button{
      font-size: 2rem;
      font-weight: 900;
      background: none;
      outline: none;
      border: none;
      font-family: cursive;

    }
  }

  .hole{
    opacity: 0;
  }
  button{
    display: block;
  }

  .score{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h3{
    text-align: center;
  }