@import "../index.scss";


.SotmucWrapper{
 margin-top: 11rem;
}
.Sotmuc{
  margin: 0 .5rem 2rem .5rem;
  z-index: -3;
}

.Leaders1819{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.Leaders1718{
  display: flex;
  flex-direction: row;
}


.Sotmuc div{
  text-align: center;
}

.Details{
  margin-top: 7.2rem;

}

.CoverImage{
  margin: auto;
  align-items: center;
  width:"80vw";
  margin-top: 8rem;
}

b{
  margin: 0;
  padding: 0;
}

/* ----------------------------SOTMUC NAV---------------------------------------------- */
.Nav_Wrapper{
  background-color: blueviolet;
  position: fixed;
  top: 0;
  margin-top: 6.9rem;
  width: 100%;
  z-index: 1;
  padding: .9rem 0;
  p{
  float: right;
  cursor: pointer;
  font-weight: bolder;
  margin-right: 1rem;
  font-variant-caps: petite-caps;
  color: white;
}
@media screen and (min-width:48rem) {
  display: none;
}
}


/* --------------------------------App Head------------------------------------------ */
.HeadWrapper{
  position: fixed;
  background-color: $color4;
  top: 0;
  width: inherit;
  height: fit-content;
  margin: auto;
  z-index: 3;
  box-shadow: 1px 1px 2px $color5;
  @media screen and (min-width: 48rem ) {
      background-color: white;
      left: 0;
      box-shadow: -12px 0px -20px $color5;
      border: none;

  }
}

.Head{
  width: inherit;
  height: fit-content;
  display: flex;
  font-size: larger;
 .Name{
    flex: 1.6;
    display: flex;
    flex-direction: column;
    font-variant: small-caps;
    justify-content: center;
    margin-right: .5rem;
    p{
    color: rgb(34, 0, 255);
    font-size: x-large;
    font-weight: bolder;
    font-family: sans-serif;
    }

  h5{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: sans-serif;
    }}
.Logo{
  flex: .4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .8rem 0rem .8rem .5rem;
}}





/* --------------------------------SubHeader------------------------------------------ */
.SubHeader{
    display: relative;
    margin: -.5rem 0 0 0;
    padding: .5rem 0;
    width: 100%;
    border: none;
    display: flex;
    border-top: 1px solid #d8d8d874;
    justify-content: space-around;
    .sotmucNewsNav{
      display: none;
    }
    p, a{
    font-weight: bolder;
    font-family: sans-serif;
    font-variant: small-caps;
    cursor: pointer;
    padding:0 0 .1rem 0rem;
  }
  @media screen and (min-width: 48rem ) {
      width: 55vw  ;
      border: none;
      .sotmucNewsNav{
         display: block;
      }

  }
}



.active{
  border-bottom: 1px solid blue;
  color: blue;
  /* text-decoration: underline; */
}



/* -----------------------------Details--------------------------------------------- */
.CName{
  display: flex;
  justify-content: space-around;
  margin: .5rem  auto;
  width:70vw;
  display:relative;
 p{
   flex:.9;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bolder;
   font-size: x-large;
   text-shadow: 0 3px 4px green;
 }
 a{
   flex:.1;
   cursor: pointer;
   .Youtube{
     font-size: 2.5rem;
     color:red;
     margin-top:-4px;
   }
 }
}

.Genre{
  width:70vw;
  margin: -2px auto 0 auto;
  font-size:bolder;
  ul{
    margin-left:-2.7rem;
    margin-bottom: 4rem;
    li{
      float:left;
      list-style-type: none;
      margin: 0 1rem 0 0;
    }
  }
}

.Accountdetails{
  clear:both;
  margin:auto;
  width:70vw;
  ul{
    margin-left:-2.7rem;
    li{
      list-style-type:none;
      margin:1rem
    }
  }
}







/* ---------------------------Media queries----------------------------------------------- */
@media only screen and (min-width: 48rem) {
.CoverImage{
  margin: unset;
  width: 20rem;
  height: 15rem;
}
.Details{
  margin-top: 13rem;

}
.Head{
  border: none;
}

.Name{
    flex: 1.6;
    margin-left: -1rem;
    p{
      font-size: xx-large;
    }
    h5{
      color: rgb(0, 0, 0);
      font-size:large;
    }
}



.Nav_Wrapper{
    width: 50vw;
  }

}