@import "../index.scss";


.SotmucWrapper{
 margin-top: 11rem;
}
.Sotmuc{
  margin: 0 .5rem 2rem .5rem;
  z-index: -3;
}

.Leaders1819{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.Leaders1718{
  display: flex;
  flex-direction: row;
}


.Sotmuc div{
  text-align: center;
}

.Details{
  margin-top: 7.2rem;

}

.CoverImage{
  margin: auto;
  margin-top: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

b{
  margin: 0;
  padding: 0;
}

/* ----------------------------SOTMUC NAV---------------------------------------------- */
.Nav_Wrapper{
  background-color: blueviolet;
  position: fixed;
  top: 0;
  margin-top: 6.9rem;
  width: 100%;
  z-index: 1;
  padding: .9rem 0;
}
.Nav_Wrapper p{
  float: right;
  cursor: pointer;
  font-weight: bolder;
  margin-right: 1rem;
  font-variant-caps: petite-caps;
  color: white;
}




/* --------------------------------App Head------------------------------------------ */
.HeadWrapper{
  position: fixed;
  background-color: $color4;
  top: 0;
  width: inherit;
  height: fit-content;
  margin: auto;
  z-index: 3;
  box-shadow: 1px 1px 2px $color5;
}

.Head{
  width: inherit;
  height: fit-content;
  display: flex;
  font-size: larger;

}

.Name{
  flex: 1.6;
  display: flex;
  flex-direction: column;
  font-variant: small-caps;
  justify-content: center;
  margin-right: .5rem;

}
.Logo{
  flex: .4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .8rem 0rem .8rem .5rem;
}

.Name p{
  color: rgb(34, 0, 255);
  font-size: x-large;
  font-weight: bolder;
  font-family: sans-serif;
}

.Name h5{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-family: sans-serif;
}
/* --------------------------------SubHeader------------------------------------------ */
.SubHeader{
  margin: -.5rem 0 0 0;
  padding: .5rem 0;
  width: 100%;
  border: none;
  display: flex;
  border-top: 1px solid #d8d8d874;
  justify-content: space-around;
}

.SubHeader p{
  font-weight: bolder;
  font-family: sans-serif;
  font-variant: small-caps;
  cursor: pointer;
  padding:0 0 .1rem 0rem;
}

.active{
  border-bottom: 1px solid gray;
  /* text-decoration: underline; */
}





/* ---------------------------Media queries----------------------------------------------- */
@media only screen and (min-width: 48rem) {
.CoverImage{
  margin: unset;
  width: 20rem;
  height: 15rem;
}
.Details{
  margin-top: 13rem;

}
.Head{
  border: none;
}

.Name{
  flex: 1.6;
  margin-left: -1rem;

}

.Name p{
  font-size: xx-large;
}

.Name h5{
  color: rgb(0, 0, 0);
  font-size:large;
}

.Nav_Wrapper{
    width: 50vw;
  }

.HeadWrapper{
 background-color: white;
 box-shadow: none;
 border: none;
 width: 100vw;
}
.SubHeader{
  width: 50%;
}

}