.Sotmuc{
  margin: 8rem .5rem 2rem .5rem;
  z-index: -3;
}

.Leaders1819{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.Sotmuc div{
  text-align: center;
}

.Details{
  margin-top: 7.2rem;

}

.CoverImage{
  margin: auto;
  margin-top: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ----------------------------NAV---------------------------------------------- */
.Nav_Wrapper{
  background-color: blueviolet;
  position: fixed;
  top: 0;
  margin-top: 7rem;
  width: 100%;
  z-index: 1;
  padding: .5rem 0;
}
.Nav_Wrapper p{
  float: right;
  cursor: pointer;
  font-weight: bolder;
  margin-right: 1rem;
  font-variant-caps: petite-caps;
  color: white;
}



@media only screen and (min-width: 48rem) {
  .Nav_Wrapper{
    width: 50vw;
  }
}


/* -------------------------------------------------------------------------- */



















@media only screen and (min-width: 48rem) {
.CoverImage{
  margin: unset;
  width: 20rem;
  height: 15rem;
}
.Details{
  margin-top: 13rem;

}
}