@import "../index.scss";


.SotmucWrapper{
 margin-top: 7rem;
}
.Sotmuc{
  margin: 0 .5rem 2rem .5rem;
  z-index: -3;
}

.Leaders1819{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.Leaders1718{
  display: flex;
  flex-direction: row;
}


.Sotmuc div{
  text-align: center;
}

.Details{
  margin-top: 6.3rem;

}

.CoverImage{
  margin: auto;
  align-items: center;
  width:"80vw";
}

b{
  margin: 0;
  padding: 0;
}

/* ----------------------------SOTMUC NAV---------------------------------------------- */
.Nav_Wrapper{
  width: 100%;
  text-align: center;
  p{
    font-family:serif;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    color: #000000;
    text-shadow: 0px 2px 4px rgb(0, 0, 0);
}
@media screen and (min-width:48rem) {
  display: none;
}
}


/* --------------------------------App Head------------------------------------------ */
.HeadWrapper{
  position: fixed;
  background-color: $color4;
  top: 0;
  width: inherit;
  height: fit-content;
  margin: auto;
  z-index: 3;
  font-weight: bolder;
  box-shadow: 0 .5px 1.5px $color5;
  @media screen and (min-width: 48rem ) {
      background-color: white;
      left: 0;
      box-shadow: -12px 0px -20px $color5;
      border: none;

  }
}

.Head{
  width: inherit;
  height: fit-content;
  display: flex;
  font-weight: lighter;
 .Name{
    flex: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .5rem;
    font-family: sans-serif;
    font-weight: bolder;
    p{
    color: rgb(34, 0, 255);
    }

  h5{
    color: rgb(0, 0, 0);
    }}
.Logo{
  flex: .4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .8rem 0rem .8rem .5rem;
}}





/* --------------------------------SubHeader------------------------------------------ */
.SubHeader{
    display: relative;
    margin: -.9rem 0 0 0;
    height: 1.4rem;
    padding: .5rem 0;
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    .inactive_back_arrow:hover{
       opacity: 0.5;
    }
    .sotmucNewsNav{
      display: none;
    }
    p, a{
    font-family: sans-serif;
    font-size: smaller;
    cursor: pointer;
    padding:0 0 .1rem 0rem;
  }
  @media screen and (min-width: 48rem ) {
      width: 55vw  ;
      border: none;
      .sotmucNewsNav{
         display: block;
      }

  }
}

.a{
  transition-property: border-bottom;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 2s;
  font-weight: lighter;
}

.active{
  border-bottom: 2.5px solid #5050fa;
  font-weight: bolder;
}



/* -----------------------------Details--------------------------------------------- */
.CName{
  display: flex;
  justify-content: space-around;
  margin: .5rem  auto;
  width:70vw;
  display:relative;
 p{
   flex:.9;
   display: flex;
   align-items: center;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bolder;
   font-size: x-large;
   font-family:serif;
   text-shadow: 0 3px 4px green;
 }
 a{
   flex:.1;
   cursor: pointer;
   .Youtube{
     font-size: 2.5rem;
     color:red;
     margin-top:-4px;
   }
 }
}

.Genre{
  width:70vw;
  margin: -2px auto 0 auto;
  font-size:bolder;
  ul{
    margin-left:-2.7rem;
    margin-bottom: 4rem;
    li{
      float:left;
      list-style-type: none;
      margin: 0 1rem 0 0;
    }
  }
}

.Accountdetails{
  clear:both;
  margin:auto;
  width:70vw;
  ul{
    margin-left:-2.7rem;
    li{
      list-style-type:none;
      margin:1rem
    }
  }
}

.dialogcontenttext{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogTitle{
  text-align: center;
  font-weight: bolder;
  padding: 1rem 0 0 0;
}



/* ---------------------------Media queries----------------------------------------------- */
@media only screen and (min-width: 48rem) {
.CoverImage{
  margin: unset;
  width: 20rem;
  height: 15rem;
}
.Details{
  margin-top: 70rem;

}
.Head{
  border: none;
}

.Name{
    flex: 1.6;
    margin-left: -1rem;
    p{
      font-size: xx-large;
    }
    h5{
      color: rgb(0, 0, 0);
      font-size:large;
    }
}}