.create_post_wrapper{
      .post_description{
                  display: flex;
                  flex-direction: column;
                  margin: auto;
                  width: 96vw;
                  .MessageInput{
                              margin: .5rem auto;
                              display: flex;
                              flex-direction: row;
                              width: 96vw;
                    .Message{
                            flex: auto;
                            border: 1px solid white;
                            border-radius: 5px;
                            background: none;
                            resize: none;
                            outline: none;
                            font-size: larger;
                            font-family: sans-serif;
                            padding: .5rem;
                    }
                    .Photo{
                          flex: .05;
                          margin: auto  .5rem 0  .5rem;
                    }
                  }


          .TitleInput{
              width: 90%;
              margin: auto;
              input{
                outline: none;
                border:none;
                border-bottom:1px solid;
              }
            .title{
              outline: none;
              background: none;
              margin-top: .5rem;
              width: 100%;
              resize: none;
              font-size: large;
              font-family: sans-serif;
              border:none;
              padding:.2rem;
              font-weight:bolder;
              border-bottom:2px solid;
              }
          }
      }
}



.image_preview{
  width: 96vw;
  margin: auto;
}


.display_item_alert{
  display: flex;
  font-size: large;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgb(4, 0, 255);
}

