.timetable_wrapper{
  margin: auto;
  margin-top: 6rem;
  width: 98vw;
  font-family: sans-serif;
  min-height: calc(100vh - 6rem);
  @media screen and (min-width: 48rem ) {
    width: 38rem;
    margin-top: 7rem;
    padding-top: 1rem;
  }

  .add_item{
    height: auto;
    width:96%;
    margin: 0 auto;
    padding:0;
    flex-direction: row;
    .close{
      width: fit-content;
      margin: 0 .3rem 0 auto;
      
    }
  }


.close, .open{
 width: fit-content;
 margin: 0 .5rem 0 auto;
  color: magenta;
}

.open{
  color: blue;
  // background: #acacac5f;
}


.delete{
  margin: 1rem 0 1rem auto;
  width: fit-content;
  button{
    border: none;
    outline: none;
    background: none;
    color: red;
    font-weight: bolder;
    :hover{
       color: #002e00;
    }
  }
}


.item_data{
    flex: 1.5;
    .day_input{
        margin: 1rem 0;
        .day{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: blue;
            padding: .2rem .5rem;
            border-radius: 3px;
            border-bottom: 1px solid;
            width: 96%;
        }
        .day_list{
          display: flex;
          align-items: center;
          justify-content: center;
          td{
            background-color: rgb(61, 67, 56);
            width: 6rem;
            text-align: center;
            border-radius: 10px;
            padding: .3rem;
            cursor: pointer;
            color: white;
            &:hover{
              background-color: rgba(61, 67, 56, 0.646);
            }
          }

        }
    }
     .activity_input, .time_input{
      outline: none;
      border: none;
      border-bottom: 1px solid;
      outline: none;
      background: none;
      width:96%;
      margin: .5rem auto;
      padding:.5rem;
      color: blue;
      resize: none;
      font-family: sans-serif;
     }

  }

  .add_button{
    flex: .2;
    margin: auto 0 0 0;
    button{
      outline: none;
      border: none;
      background-color: #4545de;
      color: white;
      border-radius: 10px;
      padding: .2rem .7rem;
      margin-bottom: 1rem;
      font-family: sans-serif;

    }
  }
}

.Monday, .Tuesday, .Wednesday, .Thursday, .Friday, .Saturday, .Sunday{
  background: #fcadba9a;
  // border: 1px solid #f56c83;
  width:100%;
  margin: .5rem auto 1rem auto;
  padding-bottom: .4rem;
  border-radius: 1px;
  .day{
    font-size: large;
    color: red;
    padding: 0;
    margin: 0 0 0 .2rem;

  }
  .event_activity{
    margin: 0 0 .4rem 0 ;
    border-bottom: 1px solid #ffe0e5;
    padding: 0 .2rem;
    font-size: smaller;
    word-wrap: break-word;
  }
}

.Tuesday{
  background: #adfcfba1;
  .day{
    color: #fe00e0;

  }
  .event_activity{
    border-bottom: 1px solid #3a3a3a;
  }
}

.Wednesday{
  background: #e8fcad88;
  .day{
    color: #003ffe;

  }
  .event_activity{
    border-bottom: 1px solid #d35a5a;
  }
}

.Thursday{
  background: #00800059;
  .day{
    color: #fefefe;

  }
  .event_activity{
    border-bottom: 1px solid #7e7e7e;
  }
}

.Friday{
  background: rgba(255, 255, 0, 0.494);
  .day{
    color: #05ed01;

  }
  .event_activity{
    border-bottom: 1px solid #d35a5a;
  }
}

.Saturday{
  background: #e8fcad96;
  .day{
    color: #003ffe;

  }
  .event_activity{
    border-bottom: 1px solid #d35a5a;
  }
}


// Time table guide.
.guide{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 90%;
  margin: auto;
  flex-direction: column;
  h2{
    text-align: center;
    color: magenta;
  }
  ul{
    margin-top: 2rem;
    opacity: .7;
    font-size:smaller;
  }
}
