
.App_header {
  width: 100vw;
}


@media only screen and (min-width: 50rem) {
  .App{
    /* margin: auto; */
    margin-left: 5rem;
    padding:0 1rem 0 1rem;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    min-height: 100vh;
    width: 50vw;
    display: none;
  }
}
