
.App{
  min-height: 100vh;
  @media screen and (min-width: 48rem ) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38rem;
    padding: 0 2rem;
    border-right: 1px solid gray;
 }
}

.settings{
  min-height: 100vh;
  margin-top: 5.2rem;
  padding-top: 1rem;
  div {
    margin: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid white;
    a{
      display:flex;

      align-items: center;
    }
  }
}