
.App_header {
  width: 100vw;
}




@media only screen and (min-width: 48rem) {
  .App{
    /* margin: auto; */
    margin-left: 5rem;
    width: 50vw;
  }
  .App_header{
       width: inherit;
       box-shadow: none;
       border-bottom: none;
  }
}
